{% extends "bootstrap.html.twig" %}

{% block title %}Notre produit{% endblock %}

{% block body %}

<div class="container contour bg-light">
<h1 class="text-center display-5 text-capitalize">Détails de l'habitation</h1>

<div class="card mb-3 mt-5">
{% if habitation %}
    <img src= {{ asset(habitation.image) }} class="card-img-top" alt="" >
    
    <table class="table table-striped mt-4 ">
    
        <tr><th scope="col">Département : </th><td class="text-capitalize">{{ habitation.departement }}</td></tr>
        <tr><th scope="col">Type d'habitation : </th><td class="text-capitalize">{{ habitation.type }}</td></tr>
        <tr><th scope="col">Superficie : </th><td>{{ habitation.surface }} M²</td></tr>
        <tr><th scope="col">Prix : </th><td>{{ habitation.prix }} €</td></tr>
        <tr><th scope="col">Loyer : </th><td>{{ habitation.loyer }} €</td></tr>
        <tr><th scope="col">Rentabilité : </th><td>{{ habitation.rentabilite }} %</td></tr>
        <tr><th scope="col">Description : </th><td>Superbe appartement</td></tr>
    </table>

{% else %}
    <p>L'habitation correspondant à l'ID {{ id }} n'a pas été trouvée.</p>
{% endif %}
</div>

    <div class="d-flex justify-content-center">
        <input type="submit" value="Nous contacter" class="btn bouton mb-5 col-4 fs-5">
    </div>

</div> <!-- Fin du container -->

{% endblock %}
