{% extends "bootstrap.html.twig" %}

{% block title %}Résultats de recherche{% endblock %}

{% block body %}

 <div class="row row-cols-1 row-cols-lg-3 g-4 mb-5 p-3">
    {% for key, value in habitation %}

      <div class="col">
        <div class="card  anim background-commun">
          <img src= {{value.image}} class="card-img-top w-100" style="height:250px" alt="photo habitation">
          <div class="card-body">

            <div class="card-text">
              <div class="row">
                <div class="col-5"><strong>Département :</strong></div>
                <div class="col text-capitalize"> {{value.departement}} </div>
              </div>
              <div class="row">
                <div class="col-5"><strong>Type :</strong></div>
                <div class="col text-capitalize"> {{value.type}} </div>
              </div>
              <div class="row">
                <div class="col-5"><strong>Surface :</strong> </div>
                <div class="col"> {{value.surfaceMin}} m²</div>
              </div>
              <div class="row">
                <div class="col-5"><strong>Prix minimum:</strong></div>
                <div class="col"> {{value.prixMin}} €</div>
              </div>
              <div class="row">
                <div class="col-5"><strong>Prix maximum:</strong></div>
                <div class="col"> {{value.prixMax}} €</div>
              </div>
              <div class="row">
                <div class="col-5"><strong>Loyer minimum:</strong></div>
                <div class="col"> {{value.loyerMin}} € / mois</div>
              </div>
              <div class="row">
                <div class="col-5"><strong>Loyer maximum:</strong></div>
                <div class="col"> {{value.loyerMax}} € / mois</div>
              </div>
              <div class="row">
                <div class="col-5"><strong>Rentabilité minimum:</strong></div>
                <div class="col"> {{value.rentabiliteMin}} % / an</div>
              </div>
            </div>
          </div>
          {# <div class="card-footer">
            <small class="text-body-secondary">Date de parution : {{value.date_creation}} </small>
          </div> #}
        </div>
      </div>
      {% endfor %}
      
    </div>
    <div class="d-flex justify-content-center">
      <a href="#retour"><i class="bi bi-arrow-up-circle-fill fs-2 arrow"></i></a>
    </div>
    
   </div>   

{% endblock %}