{% extends "bootstrap.html.twig" %}

{% block title %}Résultats de la recherche{% endblock %}

{% block body %}

<div class="container contour bg-light">
    <h1 class="text-center display-5 text-capitalize">Résultats de la recherche</h1>

    {% if resultats %}
        {% for habitation in resultats %}
            <div class="card mb-3 mt-5">
                <img src="{{ asset(habitation.image) }}" class="card-img-top" alt="">
                
                <table class="table table-striped mt-4">
                    <tr><th scope="col">Département : </th><td class="text-capitalize">{{ habitation.departement }}</td></tr>
                    <tr><th scope="col">Type d'habitation : </th><td class="text-capitalize">{{ habitation.type }}</td></tr>
                    <tr><th scope="col">Superficie : </th><td>{{ habitation.surface }} M²</td></tr>
                    <tr><th scope="col">Prix : </th><td>{{ habitation.prix }} €</td></tr>
                    <tr><th scope="col">Loyer : </th><td>{{ habitation.loyer }} €</td></tr>
                    <tr><th scope="col">Rentabilité : </th><td>{{ habitation.rentabilite }} %</td></tr>
                    {# <tr><th scope="col">Description : </th><td>Superbe appartement</td></tr> #}
                </table>
            </div>
        {% endfor %}
    {% else %}
        <p>Aucun résultat trouvé pour votre recherche.</p>
    {% endif %}
</div>

{% endblock %}
