{% extends "bootstrap.html.twig" %}

{% block body %}


  <div class="container contour bg-light">
  <h1 class="display-5 text-center text-capitalize mt-3"  id="retour">Notre parc immobilier</h1>
  <h5 class="color-title text-center text-uppercase">Votre futur patrimoine</h5>
  
    
    <div class="row mt-5 py-3 justify-content-center bg-secondary-subtle">
            <div class="col-4">
              <form action="" method="get">

                <label for="ville" class="fw-bold">Département</label>
                <input type="text" name="departement" id="departement" placeholder="ex : Val de Marne" class="form-control">
{# 
                <label for="ville" class="fw-bold">Numéro de Département</label>
                <input type="text" name="numero_departement" id="numero_departement" placeholder="ex : 94" class="form-control"> #}
        
                <label for="superficie" id="surface" class="my-1 fw-bold">Superficie (m²) : </label>
                <input type="number" class="form-control">
                    
                <label class="fw-bold mt-1">Type d logement(s) recherché(s) : </label>
                  <ul class="list-unstyled">
                    <li>
                      <input type="checkbox" name="appartement" id="appartement" checked>
                      <label for="appartement">appartement</label>
                    <li>
                      <input type="checkbox" name="duplex" id="duplex">
                      <label for="duplex">duplex</label>
                    </li>
                    <li>
                      <input type="checkbox" name="maison" id="maison">
                      <label for="maison">maison</label>
                    </li>
                    <li>
                      <input type="checkbox" name="studio" id="studio">
                      <label for="studio">studio</label>
                    </li>
                    <li>
                      <input type="checkbox" name="villa" id="villa">
                      <label for="villa">villa</label>
                    </li>
                  </ul>
            </div>
      

            <div class="col-4">

                {# <label for="ville" class="fw-bold">Code postal</label>
                <input type="number" name="code_postal" id="dcode_postal" placeholder="ex : 94000" class="form-control"> #}
                
                <label for="loyer" class="fw-bold">Loyer perçus</label>
                <input type="number" name="loyer" id="loyer" class="form-control" min="500" step="50" placeholder="/mois">
                
                <label for="rentabilité" class="fw-bold my-1">Rentabilité</label>
                <input type="number" class="form-control" placeholder="%">
                
                <label for="prix" id="prixAffiche" class="fw-bold">Budget d'achat : </label>
                <input type="number" name="prix" id="prix" min="30000" max="10000000" step="5000" class="form-control" placeholder="ex : 100000 €">

                <div class="d-flex justify-content-end">
                  <input type="submit" value="Rechercher" class="btn btn-info mt-3">
                </div>
            </div>
          </form>
    </div>
      
   
    
  
    <div class="row row-cols-1 row-cols-lg-3 g-4 mb-5 p-3">
    {% for key, value in habitation %}

      <div class="col">
        <div class="card  anim background-commun">
          <img src= {{value.image}} class="card-img-top w-100" style="height:250px" alt="photo habitation">
          <div class="card-body">
            <a href="" class="btn btn-info w-100" >Découvrir</a>
            <div class="card-text">
              <div class="row">
                <div class="col-5"><strong>Département :</strong></div>
                <div class="col text-capitalize"> {{value.departement}} </div>
              </div>
              <div class="row">
                <div class="col-5"><strong>Type :</strong></div>
                <div class="col text-capitalize"> {{value.type}} </div>
              </div>
              <div class="row">
                <div class="col-5"><strong>Surface :</strong> </div>
                <div class="col"> {{value.surface}} m2</div>
              </div>
              <div class="row">
                <div class="col-5"><strong>Prix :</strong></div>
                <div class="col"> {{value.prix}} €</div>
              </div>
              <div class="row">
                <div class="col-5"><strong>Loyer :</strong></div>
                <div class="col"> {{value.loyer}} € / mois</div>
              </div>
              <div class="row">
                <div class="col-5"><strong>Rentabilité :</strong></div>
                <div class="col"> {{value.Rentabilite}} % / an</div>
              </div>
            </div>
          </div>
          {# <div class="card-footer">
            <small class="text-body-secondary">Date de parution : {{value.date_creation}} </small>
          </div> #}
        </div>
      </div>
      {% endfor %}
      
    </div>
    <div class="d-flex justify-content-center">
      <a href="#retour"><i class="bi bi-arrow-up-circle-fill fs-2 arrow"></i></a>
    </div>
    
   </div>   

{% endblock %}

