{% extends "bootstrap.html.twig" %}

{% block title %}Parc Immobilier{% endblock %}

{% block body %}


  <div class="container contour bg-light">
  <h1 class="display-5 text-center text-capitalize mt-3"  id="retour">Notre parc immobilier</h1>
  <h5 class="color-title text-center text-uppercase">Votre futur patrimoine</h5>
  
    
    <div class="row mt-5 py-3 justify-content-center bg-secondary-subtle">

    <h3 class="text-center">Recherche de biens immobiliers</h3>

        <div class="col-lg-5 "> <!-- Première colonne -->
            {{ form_start(form) }}
            {{ form_row(form.departement) }}
            {{ form_row(form.type) }}
            {{ form_row(form.surfaceMin) }}
            {{ form_row(form.rentabiliteMin) }}
        </div>

        <div class="col-lg-6"> <!-- Deuxième colonne -->
            {{ form_row(form.prixMin) }}
            {{ form_row(form.prixMax) }}
            {{ form_row(form.loyerMin) }}
            <div class="d-flex {#justify-content-center#}">{{ form_row(form.creer)}}</div>
        
        
            
            {{ form_end(form) }}
        </div>
          
    </div>
      
   
    
  
    <div class="row row-cols-1 row-cols-lg-3 g-4 mb-5 p-3">
    {% for key, value in habitation %}

      <div class="col">
        <div class="card  anim background-commun">
          <img src= {{value.image}} class="card-img-top w-100" style="height:250px" alt="photo habitation">
          <div class="card-body">
            <a href="{{ path('afficher', {'id': value.id}) }}" class="btn bouton w-100 mb-3" >Découvrir</a>
            <div class="card-text">
              <div class="row">
                <div class="col-5"><strong>Département :</strong></div>
                <div class="col text-capitalize"> {{value.departement}} </div>
              </div>
              <div class="row">
                <div class="col-5"><strong>Type :</strong></div>
                <div class="col text-capitalize"> {{value.type}} </div>
              </div>
              <div class="row">
                <div class="col-5"><strong>Surface :</strong> </div>
                <div class="col"> {{value.surface}} m²</div>
              </div>
              <div class="row">
                <div class="col-5"><strong>Prix :</strong></div>
                <div class="col"> {{value.prix}} €</div>
              </div>
              <div class="row">
                <div class="col-5"><strong>Loyer :</strong></div>
                <div class="col"> {{value.loyer}} € / mois</div>
              </div>
              <div class="row">
                <div class="col-5"><strong>Rentabilité :</strong></div>
                <div class="col"> {{value.Rentabilite}} % / an</div>
              </div>
            </div>
          </div>
          {# <div class="card-footer">
            <small class="text-body-secondary">Date de parution : {{value.date_creation}} </small>
          </div> #}
        </div>
      </div>
      {% endfor %}
      
    </div>
    <div class="d-flex justify-content-center">
      <a href="#retour"><i class="bi bi-arrow-up-circle-fill fs-2 arrow"></i></a>
    </div>
    
   </div>   

{% endblock %}

